#List Comprehension

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
for i in my_list:
  print(i)

[1, 2, 3]
[4, 5]
[6, 7, 8, 9]

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list_copy = [i for i in my_list]
print(list_copy)

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list_copy = [ ]
for i in my_list:
  for x in i:
    list_copy.append(x)
print(list_copy)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list_copy = [x for i in my_list for x in i]
print(list_copy)
#*************************************************************************useful**************************************************

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_ = []
for i in range(0,31):
    if not i % 2 and i % 3:
        list_.append(i)

print(list_)

[2, 4, 8, 10, 14, 16, 20, 22, 26, 28]

In [ ]:
#code example above can be shortened with list comprehension as follows:
x=[i for i in range(0,31) if (not i % 2) and (i % 3)]
print(x)

[2, 4, 8, 10, 14, 16, 20, 22, 26, 28]

In [ ]:
#fibonacci blind code
fiblist = [1,1]
i=0
new=0
for i in range(8):
  new = int(fiblist[-1]) + int(fiblist[-2])
  fiblist.append(new)
  i+=1
print(fiblist)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Function practice - return & default values

In [ ]:
def function_sum_try(a,b,c):
  print("This will be printed")
  return a+b+c
  print("This will NOT be printed")
function_sum_try(5,6,7)

This will be printed

18

In [ ]:
def say_hi(name="Unknown"):  # To set default value
  print("Hi ", name)

say_hi()
say_hi("Koral")

Hi  Unknown
Hi  Koral

#Inheritance

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()
#--------------

class Studenta(Person):
  pass

a = Studenta("se", "ko")
a.printname()
#--------------

class Studentb(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

class Studentc(Person):
  def __init__(self, fname, lname, year, try_1):
    super().__init__(fname, lname)
    self.graduationyear = year
    self.deneme = try_1
    
c = Studentc("Mike", "Olsen", 2019, 55)
print(c.deneme)

John Doe
se ko
55

In [ ]:
# ITARATOR

class MyNumbers:
  def __iter__(self):
    self.a = 2
    return self

  def __next__(self):
    x = self.a
    self.a += 5
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

2
7
12
17
22

In [ ]:
#STOP ITAROTOR
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

#Lesson  7 March 2022 - Instructor: Joseph

ARMSTRONG NUMBER

In [ ]:
while True :   
    number = input("Enter a positive integer number :")
    digits = len(number)
    summ = 0   
    if not number.isdigit() :       
        print(number, " is invalid entry. Please enter valid input.")       
    elif int(number) >= 0 :       
        for i in range(digits) :           
            summ = summ + int(number[i]) ** digits          
        if summ == int(number) :
            print(number, " is an Armstrong Number.")
            break
        else :
            print(number, " is not an Armstrong Number.")
            break

Enter a positive integer number :55
55  is not an Armstrong Number.

PRIME NUMBER

In [ ]:
n = int(input("Enter a positive int number to check if it's a prime number: "))

counter = 0

# if modulus operation in range returns more than 2 (dividion by 1 and division by self) it is not prime.
# using counter as a parameter, calculate how many modulus exists.

for i in range (1, n + 1):
    if n % i == 0:
        counter += 1

if (n ==0) or (n == 1) or (counter >= 3):
    print(n, "is not a prime number.")
else:
    print(n, "is a prime number.")

LIST COMPREHENSION

In [ ]:
sayılar = []
for i in range(6):
  sayılar.append(i)
  print(sayılar)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]

In [ ]:
[i for i in range(6)]   # Kendisinden append'li davranır, her seferinde değişen i değerini içinde bulunduğu listeye (köşeli parantez) ekler

[0, 1, 2, 3, 4, 5]

In [ ]:
if 9 % 3:
  print("this does not work since if 0 will not work")
elif 9%2:
  print("this works since if 1 works")

this works since if 1 works

In [ ]:
print("if_body") if 1==1 else print("else_body")
print("if_body") if 1==0 else print("else_body")

if_body
else_body

In [ ]:
generator = (i for i in range(5))  # this time we used not square paranthesis but normal ones to make it tuple.
print(generator)
print(list(generator))

#print(next(generator))

<generator object <genexpr> at 0x7f124e79ee50>
[0, 1, 2, 3, 4]

#Practice before lesson 08-02-2022

In [ ]:
num = int(input("Enter a number you want to see its factor result : "))
fac_result = 1
len_ = len(str(num))
while len_ < 3:
    for i in range(1,num+1):
        fac_result *= i
    break

print(fac_result)

Enter a number you want to see its factor result : 11
39916800

#frozenset()

In [ ]:
# tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')

fSet = frozenset(vowels)
print('The frozen set is:', fSet)
print('The empty frozen set is:', frozenset())

# frozensets are immutable, so code below won't work;
# fSet.add('v')

The frozen set is: frozenset({'u', 'e', 'o', 'i', 'a'})
The empty frozen set is: frozenset()

In [ ]:
# random dictionary
person = {"name": "John", "age": 23, "sex": "male"}

fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'age', 'name', 'sex'})

#zip()   
Farklı liste yada tuple'lardaki aynı index'e sahip elemanları gruplayarak tuple döndürür.

In [ ]:
a = ("John", "Charles", "Mike")
b = ["Jenny", "Christy", "Monica", "Vicky"]
c = ("xenny", "xhristy", "xonica", "xicky")

x = zip(a, b, c)

#use the tuple() function to display a readable version of the result:
print(tuple(x))

(('John', 'Jenny', 'xenny'), ('Charles', 'Christy', 'xhristy'), ('Mike', 'Monica', 'xonica'))

#filter()
The filter() function extracts elements from an iterable (list, tuple etc.) for which a function returns True.

In [ ]:
# We will print EVEN numbers in the list;
my_list = [1,2,3,4,5,6,7,8,9]
def is_even(number):
  if not number % 2:
    return True
result = list(filter(is_even, my_list))
print(result)

[2, 4, 6, 8]

#enumerate()
Iterable'a counter ekler, counter'ın kaçtan başlayacağını ayarlayabiliriz. Start'a girdi yapmazsak 0 olarak alır.

*   Syntax :   enumerate(iterable, start=0)
*   Liste öğesi

In [ ]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)
# converting to list
print(list(enumerateGrocery))
# changing the default counter
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [ ]:
for item in enumerate(grocery):
  print(item)

print('\n')

for count, item in enumerate(grocery):
  print(count, item)

print('\n')
# changing default start value
for count, item in enumerate(grocery, 100):
  print(count, item)

(0, 'bread')
(1, 'milk')
(2, 'butter')


0 bread
1 milk
2 butter


100 bread
101 milk
102 butter

#map()
returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [ ]:
def addition(n):
    return n+n

numbers = [1,2,3,4,5]
result = map(addition,numbers)
print(list(result))

#Functions  09-03-22

In [ ]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments 
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

In [ ]:
# Useful way to take a user input with a function:

def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [ ]:
# Default value of a parameter:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs

Athens in Europe
Ulaanbaatar in Asia

In [ ]:
# Arbitrary numbers of arguments:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [ ]:
#If you need to prefer to use arbitrary keyword arguments (**kwargs), you can use it in the same way.
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
# Parametre başındaki * işareti, birden fazla parametreyi tek değere atar
# Print'teki * işareti, direkt tuple'ı yazdırmak yerine tüm elemanları teker teker yazdırmayı sağlar
def deneme(*args):
  print(*args)
deneme(1,2,3,4,5,6)

1 2 3 4 5 6

In [ ]:
def deneme(name="Koral", sport="gym"):
    print(f"{name} likes sport, especially {sport}.")
var1 = {"name":"Joseph", "sport":"boxing"}
# var2 = var1.items
# print(**var2)
deneme(**var1)

Joseph likes sport, especially boxing.

Define a function to take a word and return negative meaning.
Given a word, return a new word where "not " has been added to the front. However, if the word already begins with "not", return the string unchanged.

In [ ]:
def not_string(word):
    list_ = list(word.split(" "))
    # print(list_)
    if list_[0] == "not":
        return(word)
        # return(str(word))
    else:
        return("not "+str(word))
      
	
print(not_string('sugar'))
print(not_string('x'))
print(not_string('not bad'))

not sugar
not x
not bad

##startswith()

In [ ]:
text = "Python is easy to learn."

result = text.startswith('is easy')
# returns False
print(result)

result = text.startswith('Python is ')
# returns True
print(result)

result = text.startswith('Python is easy to learn.')
# returns True
print(result)

#all()

In [ ]:
#Check if all items in a list are True
mylist = [True, True, True]
x = all(mylist)

#some more practise

In [ ]:
def add (a,b):
    print(a+b)
add(3,4)

7

In [ ]:
def calc(a,b,c):
  # a, b = int(a), int(b)
  # c = str(c)
  if c == '+':
    print(a+b)
  elif c == '-':
    print(a-b)
  elif c == '*':
    print(a*b)
  elif c == '/':
    print(a/b)
  else:
    print("please enter invalid input")

calc(88,22,'+')

110

In [ ]:
primes = []
def prime_finder(n):
	for i in range(1,n+1):
		bolenler = []
		for j in range(1,i+1):
			if i % j == 0: #tam bölünürse
				bolenler.append(j)
		if len(bolenler)==2:
			primes.append(i)
	print(f"Prime numbers up to {n} : \n {primes}\n")			

prime_finder(100)

Prime numbers up to 100 :
 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
a = list("koral")
print(a[::-1])

['l', 'a', 'r', 'o', 'k']

In [ ]:
matrisx = 3
matrisy = 3

for i in range(matrisx):
	for j in range(matrisy):
		print(f"[{i,j}]", sep="", end=" ")
	print()

[(0, 0)] [(0, 1)] [(0, 2)]
[(1, 0)] [(1, 1)] [(1, 2)]
[(2, 0)] [(2, 1)] [(2, 2)]

In [ ]:
num31 = input("enter a num : ")
num32 = input("enter a num : ")
a = int(min(num31,num32))
b = int(max(num31,num32))
sumlist = [i for i in range(a,b)]
# sum(sumlist,0)
print("sumlist : ", sumlist)
x = sum(sumlist,0)
print("sum : ", x)

enter a num : 10
enter a num : 12
sumlist :  [10, 11]
sum :  21

Defining a function using Arbitrary numbers

In [ ]:
oddlist = []
evenlist = []
def slicer(*args):
	for i in args:
		if i % 2 :
			oddlist.append(i)
		else:
			evenlist.append(i)
	print("odds: ", oddlist)
	print("evens: ", evenlist)

slicer(1,2,3,4,5,6,7,8,9)

In [ ]:
class A:

    global age

    age = 15

    def __init__(self, age):

        self.age = age



a = A(20)

a.age = ?

In [ ]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('I '))
print(repeat_3_times('can '))
print(repeat_4_times('DO '))

I I
can can can
DO DO DO DO

In [ ]:
def repeat_insideof_this(x,n):
    return x*n
def repeat_insideof_this_2(n):
    return (lambda x : x*n)
var1 = repeat_insideof_this_2(3)
print(var1("Koral"))
print(repeat_insideof_this("Koral",3))

KoralKoralKoral
KoralKoralKoral

In [ ]:
list_ = [1,2,3,4,5]
for i in list_:
	print((lambda x : "odd" if x%2!=0 else "even")(i), end=" ")

odd even odd even odd

In [ ]:
list_ = [1,2,3,4,5]
print(list(map((lambda x : "even" if x%2==0 else "odd"), list_)))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
list_ = [1,2,3,4,5]
print(list(map((lambda x : x*x), list_)))

[1, 4, 9, 16, 25]

In [ ]:
sınav_notları_öğrenci1 = [53,81,69]
sınav_notları_öğrenci2 = [10,52,90]
sınav_notları_öğrenci3 = [45,70,33]
sınıf_sınav_ortalamaları = list(map(lambda x,y,z : (x+y+z)/3, sınav_notları_öğrenci1, sınav_notları_öğrenci2, sınav_notları_öğrenci3))
sınıf_sınav_ortalamaları

[36.0, 67.66666666666667, 64.0]

In [ ]:
list_ = [1,2,3,4,5,6,7,8,9]
x = filter(lambda x : x%2, list_)
print(*x)

1 3 5 7 9

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
x = filter(lambda x : len(x)<5, words)
print(*x, sep="\n")

swim
me
kiwi

**Assignment - 011/07 (Fizz - Buzz Numbers)**

Task : Print the Fizz Buzz numbers.

Fizz Buzz is a famous code challenge. It's time to write your own implementation.
Print numbers from 1 to 100 inclusively following these instructions:
if a number is multiple of 3, print "Fizz" instead of this number,
if a number is multiple of 5, print "Buzz" instead of this number,
for numbers that are multiples of both 3 and 5, print "FizzBuzz",
print the rest of the numbers unchanged.
Output each value on a separate line.
Note that : This question is famous on the web, so to get more benefit from this assignment, try to complete this task on your own.

In [ ]:
def fizzNumbers():
  for i in range(1,101):
    if i%3==0 and i%5==0:
      print(i," : FizzBuzz")
    elif i%3==0 and i%5!=0:
      print(i," : Fizz")
    elif i%5==0 and i%3!=0:
      print(i," : Buzz")
    else:
      print(i)
fizzNumbers()

Task:

Count the number of each letter in a sentence.
The department you work for undertook a project construction that makes word / text analysis. You are asked to calculate the number of letters in the sentences entered under this project.

Write a Python program that;
*   takes a sentence from the user,
*   counts the number of each letter/chars of the sentence,
*   collects the letters/chars as a key and the counted numbers as a value in a dictionary.

In [ ]:
import string

letter_lib = {}
user_input = """If you want to succeed something, you can succeed it with these two rules: 
			1) Want it so bad 
			2) Have a good plan"""  #input("Enter the text you want to analyze : )
alphabet = set(string.ascii_letters)
# alphabet.
for i in alphabet:
	a = user_input.count(i)
	if int(a) > 0:
		letter_lib[i] = a

for keys,value in letter_lib.items():
  print("-Letter",keys,"is repeated",value, "time(s)")

-Letter g is repeated 2 time(s)
-Letter w is repeated 3 time(s)
-Letter y is repeated 2 time(s)
-Letter p is repeated 1 time(s)
-Letter b is repeated 1 time(s)
-Letter h is repeated 3 time(s)
-Letter H is repeated 1 time(s)
-Letter W is repeated 1 time(s)
-Letter l is repeated 2 time(s)
-Letter a is repeated 7 time(s)
-Letter n is repeated 5 time(s)
-Letter m is repeated 1 time(s)
-Letter I is repeated 1 time(s)
-Letter u is repeated 5 time(s)
-Letter r is repeated 1 time(s)
-Letter i is repeated 4 time(s)
-Letter s is repeated 6 time(s)
-Letter e is repeated 9 time(s)
-Letter f is repeated 1 time(s)
-Letter o is repeated 8 time(s)
-Letter c is repeated 5 time(s)
-Letter d is repeated 4 time(s)
-Letter t is repeated 9 time(s)
-Letter v is repeated 1 time(s)

In [ ]:
def repeater(n):
	 return lambda x: x*n
var = repeater(3)
var("koral")

'koralkoralkoral'

In [ ]:
def emoji(n):
  return lambda x : x + n

smile = emoji(" :)")
sad = emoji(" :(")
neutral = emoji(" :|")

smile("clarusway")

'clarusway :)'

In [ ]:
def func(n):
  return lambda x : n(x)

var1 = func(print)
var2 = func(max)
var3 = func(bool)

var1("hello")
var2([1,2,3,4])
var3(bool)

hello

True

In [ ]:
def equal(a,b,c):
	num = [a,b,c]
	if num.count(max(num, key = num.count)) == 1:
		return 0
	return num.count(max(num, key = num.count))
equal(1,3,1)

2

In [ ]:
equalambda = lambda x,y,z:[x,y,x].count(max([x,y,z],  key=[x,y,z].count))
equalambda(1,2,3)

2

A number is said to be Harshad if it's exactly divisible by the sum of its digits. Create a function that determines whether a number is a Harshad or not.

In [ ]:
input_num = 171 # int(input("Enter a num to check whether its a HARSHAD num or not : "))

def is_harshad(x):
  toplam = 0
  for i in range(len(str(x))):
    toplam += int(str(x)[i])
  if not input_num % toplam :
    print(x,"is a HARSHAD number")
  else:
    print(x,"is NOT a HARSHAD number")

is_harshad(input_num)

171 is a HARSHAD number

Elinizde bir teste ait cevap anahtarı ve öğrenci cevaplarının olduğu listeler var.
Siz bu cevapları anahtar ile kontrol ederek sonuçları doğru veya yanlış olarak çıktı almak istiyorsunuz.


Bunu yapacak kodları lambda ve map fonksiyonları ile nasıl yaparsınız.


Örnek: 

cevap_anahtarı=[“a”,“c”,“e”,“b”,“a”]

ogrenci_1=[“a”,“d”,“d”,“b”,“a”]


İstenen çıktı Çıktı: [‘doğru’, ‘yanlıs’, ‘yanlıs’, ‘doğru’, ‘doğru’]

In [ ]:

ans_keys = ["a","c","e","b","a"] 
stud_1 = ["a","d","d","b","a"]
func = (lambda x,y : 'RIGHT' if x==y else 'WRONG')
print(list(map(func, ans_keys,stud_1)))

['RIGHT', 'WRONG', 'WRONG', 'RIGHT', 'RIGHT']

Let's construct a function with lambda that returns the arithmetic mean of a sequence of integers between two given numbers, including themselves.  ?????

In [ ]:
input_num1 = 10 # int(input("Enter a num : "))
input_num2 = 15 # int(input("Enter another num : "))

num_list = [*range(int(input_num1), int(input_num2)+1, 1)]
print(*num_list,"\n", "Average is : ", sum(num_list)/len(num_list))

# result_ = lambda input_num1, input_num2 : print(sum(range(input_num1,input_num2+1)  / (input_num1-input_num2+1)))
# result_

10 11 12 13 14 15
 Average is :  12.5

In [ ]:
input_num1 = 10 # int(input("Enter a num : "))
mean = lambda x: print(sum(range(x+1) / (x+1)))
mean
toplam = 0
counter = 0
for i in range(1,10+1):
  toplam += i
  counter += 1
print(counter, toplam)
asdasd = lambda x:

10 55

Factorial Calculation

In [ ]:
def my_factor(n):
  result = 1
  for i in range(n):
    result *= i + 1
  return(result)
print(my_factor(4))
print(my_factor(5))
print(my_factor(6))

24
120
720

FUNCTION RECURSION

In [ ]:
def my_facto(n):

  if n==1 or n==0 :
    return 1
  else:
    return n * my_facto(n-1)   # Since 5! = 5 * 4!
print(my_facto(5))

120

PUNCTIATION AND DIGITS

In [ ]:
import string
print(string.punctuation)
print(string.digits)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

DATETIME MODULE

In [ ]:
import datetime as dt
print(dt.date.today())
print(dt.datetime.now())

2022-03-23
2022-03-23 19:35:51.970486

In [ ]:
birth = dt.date(1996,1,1)
life = dt.date.today() - birth
life/360

datetime.timedelta(days=26, seconds=52320)

In [ ]:
import datetime
dateToday = datetime.date.today()
toOrdinal = dateToday.toordinal()
print(f"Ordinal of date {dateToday} is {toOrdinal}")

birth = dt.date(1996,1,1).toordinal()
print("year : ", (toOrdinal-birth)/365)

Ordinal of date 2022-03-23 is 738237
year :  26.24109589041096

RANDOM CHOICE

In [ ]:
from random import choice as ch
city = ["Stocholm", "Istanbul", "Seul", "Cape Town"]
print(ch(city))

Seul

Given a non-empty string and an int n, return a new string where the character at index n has been removed. The value of n will be a valid index of a character in the original string (i.e. n will be in the range 0....len(str)-1 inclusive).

In [ ]:
def missing_char(word, n):
	list_ = list(word)
	list_.pop(n)
	word = "".join([str(i) for i in list_])
	return(word)
print(missing_char("koral",1))
print(missing_char("clarusway",0))

kral
larusway

In [ ]:
from itertools import combinations
# set the number of closest combinations to show, the targeted number and the list
show = 5
target = 8276
lis = [497.96, 10, 5084, 156.43, 381.3, 3298.85, 625.68]

diffs = []
for n in range(1, len(lis)+1):
    numbers = combinations(lis, n)
    # list the combinations and their absolute difference to target
    for combi in numbers:
        diffs.append([combi, abs(target - sum(combi))])

diffs.sort(key=lambda x: x[1])

for item in diffs[:show]:
    print(item[0], round(item[1],10))

(5084, 3298.85) 106.85
(10, 5084, 3298.85) 116.85
(5084, 156.43, 3298.85) 263.28
(10, 5084, 156.43, 3298.85) 273.28
(5084, 381.3, 3298.85) 488.15

Find the smallest number which can be divided all numbers from 1 to 20 (inclusive)

In [ ]:
i=2520
while True:
  i += 1
  for j in range(2,21):
    counter = 0
    if i%j : #tambölünmezse
      counter += 1
      if counter > 0 :
        break
  if not counter:
    print(i)
    break

232792560

In this kata you have to correctly return who is the "survivor", ie: the last element of a Josephus permutation.

Basically you have to assume that n people are put into a circle and that
 they are eliminated in steps of k elements, like this:
josephus_survivor(7,3) => means 7 people in a circle;
one every 3 is eliminated until one remains


*   [1,2,3,4,5,6,7] - initial sequence
*   [1,2,4,5,6,7] => 3 is counted out
*   [1,2,4,5,7] => 6 is counted out
*   [1,4,5,7] => 2 is counted out
*   [1,4,5] => 7 is counted out
*   [1,4] => 5 is counted out
*   [4] => 1 counted out, 4 is the last element - the survivor!

In [ ]:
def koralius_survivor(a,b):
  list_init = list(range(1,a+1))
  delete_index = b-1
  next_start = 0
  print("Initial list : {:>39}".format(str(list_init)))
  for i in range(a): 
    temp_list = list_init[next_start:]
    temp_list.extend(list_init)
    if i< len(list_init)-1: # to prevent range error at the last step
      next_start = list_init.index(temp_list[delete_index]) # starting index of next temporary list
    list_init.remove(temp_list[delete_index]) # drop it from main list
    print(temp_list[delete_index]," is counted out. New list is :",list_init,"\n")
    if len(list_init)==1: 
      print("---->>>>  ",list_init[0], " is the survivor!   <<<<----")
      break

koralius_survivor(7,3)

Initial list :                   [1, 2, 3, 4, 5, 6, 7]
3  is counted out. New list is : [1, 2, 4, 5, 6, 7]

6  is counted out. New list is : [1, 2, 4, 5, 7]

2  is counted out. New list is : [1, 4, 5, 7]

7  is counted out. New list is : [1, 4, 5]

1  is counted out. New list is : [4, 5]

5  is counted out. New list is : [4]

---->>>>   4  is the survivor!   <<<<----

```
Given a string containing just the characters '(', ')', '{', '}', '[' and ']',
determine if the input string is valid.
An input string is valid if:
Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.
Note that an empty string is also considered valid.
Example 1:
Input: "()"
Output: True
Example 2:
Input: "()[]{}"
Output: True
Example 3:
Input: "(]"
Output: False
Example 4:
Input: "([)]"
Output: False
Example 5:
Input: "{[]}"
Output: True
```

In [ ]:
text_input  = "(den(eme1[deneme2]{deneme3})"
print(len(text_input))

28

In [ ]:
text_input  = "(deneme1[deneme2]{deneme3})"
text_list = list(text_input)
start_str = None
# # start_str = map(lambda x: index(x) if x=="(" , text_list )
# q =( lambda x : x.index() for x in text_list if x=="(" )
# for i in q:
#   for j in i:
#     print(j("("))
temp_list = text_list
reversed_list = text_list[::-1]
flag = True
sum_a1 = text_list.count("(")
sum_a2 = text_list.count(")")
sum_b1 = text_list.count("[")
sum_b2 = text_list.count("]")
sum_c1 = text_list.count("{")
sum_c2 = text_list.count("}")
if sum_a1!=sum_a1 or sum_b1!=sum_b2 or sum_c1!=sum_c2 :
  flag = False
else:  # parantez sayıları doğru ise sıraya bakarız;
  for each in range(24): #range(len(temp_list)):
    print(each)
  # while True:
    if temp_list[each] == "(" :
      temp_list.pop(each)
      reversed_list = temp_list[::-1]
      order_a2 = reversed_list.index(")")
      order_b2 = reversed_list.index("]")
      order_c2 = reversed_list.index("}")
      if (order_a2 >= order_b2) or (order_a2 >= order_c2):
        flag = False
      else:
        reversed_list.pop(each)
    elif temp_list[each] == "[" :
      temp_list.pop(each)
      reversed_list = temp_list[::-1]
      order_a2 = reversed_list.index(")")
      order_b2 = reversed_list.index("]")
      order_c2 = reversed_list.index("}")
      if (order_b2 >= order_a2) or (order_b2 >= order_c2):
        flag = False
      else:
        reversed_list.pop(each)
    elif temp_list[each] == "{" :
      temp_list.pop(each)
      reversed_list = temp_list[::-1]
      order_a2 = reversed_list.index(")")
      order_b2 = reversed_list.index("]")
      order_c2 = reversed_list.index("}")
      if (order_c2 >= order_a2) or (order_c2 >= order_b2):
        flag = False
      else:
        reversed_list.pop(each)
    else:
      print("else girdi, np")




print(flag)

In [ ]:
# text_input  = "(deneme1[deneme2]{deneme3})"   {(({}[]{})[])}
text_str = "{(({}[]{})[])}([)]"
text = list(text_str)  # iterasyon işlemlerini daha rahat yapmak için list'e çevirelim
temp = text  # kopyasını oluşturalım
flag = True

if text.count("(")!=text.count(")") or text.count("[")!=text.count("]") or text.count("{")!=text.count("}") :  # parantez sayıları valid değilse;
  flag = False

else:  # parantez adetleri doğru ise sıraya bakarız;
  while i < len(text_str):
    before_len_temp = len(temp)
    if text[i] == "]":
      if temp[temp.index("]")-1]== "[" :
        temp.pop(i)
        temp.pop(i-1)
        i=0
    elif text[i] == "}":
      if temp[temp.index("}")-1]== "{" :
        temp.pop(i)
        temp.pop(i-1)
        i=0
    elif text[i] == ")":
      if temp[temp.index(")")-1] == "(" :
        temp.pop(i)
        temp.pop(i-1)
        i=0
    i += 1 
    after_len_temp = len(temp)
    if len(temp)==0 : # çıkış koşulu     ([)]
      print(temp)
      break
    print(temp)
print(i)  
print(flag)

In [ ]:
text_str = "{(({}[]{})[])}"
text = list(text_str)
temp = text
while i < len(text_str):
  if text[i] == "]":
    if text[i-1] == "[":
      temp.pop(i)
      temp.pop(i-1)
      i=0
  elif text[i] == "}":
    if temp[temp.index("}")-1]:
      temp.pop(i)
      temp.pop(i-1)
      i=0
  elif text[i] == ")":
    if text[i-1] == "(":
      temp.pop(i)
      temp.pop(i-1)
      i=0
  else:
    print("aman allahım noluyor")
  i += 1
  if len(temp)==0 : # çıkış koşulu
    print(len(temp))
    break

aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
aman allahım noluyor
0

In [ ]:
def path_choice():
  import random
  path = ["Full Stack", "Data", "DevOps"]
  n = int(input("How many iterations do you want? : "))
  my_choice = [random.choice(path) for i in range(1,n + 1)]
  print(my_choice)
  return max(my_choice, key=my_choice.count)
path_choice()

How many iterations do you want? : 1
['DevOps']

'DevOps'

In [ ]:
def front_back(word):
    if len(word) == 1:
        return word
    else:
        templist = list(word)
        lastchar = templist[len(templist)-1]
        templist[len(templist)-1] = templist[0]
        templist[0] = lastchar
        str = "".join(templist)
        return str
#TESTS:        
print(front_back('clarusway'))
print(front_back('a'))
print(front_back('ab'))

ylaruswac
a
ba

#Palindrom word finder

In [ ]:
import sys

class Solution:
    # Write your code here
    def pushCharacter(self,word):
      word = word[1:]
    def enqueueCharacter(self,word):
      word = word[1::-1]
    def popCharacter():
      pass
    def dequeueCharacter():
      pass
      word = word[::-1]
# read the string s
s=input()
#Create the Solution class object
obj=Solution()   

l=len(s)
# push/enqueue all the characters of string s to stack
for i in range(l):
    obj.pushCharacter(s[i])
    obj.enqueueCharacter(s[i])
    
isPalindrome=True
'''
pop the top character from stack
dequeue the first character from queue
compare both the characters
''' 
for i in range(l // 2):
    if obj.popCharacter()!=obj.dequeueCharacter():
        isPalindrome=False
        break
#finally print whether string s is palindrome or not.
if isPalindrome:
    print("The word, "+s+", is a palindrome.")
else:
    print("The word, "+s+", is not a palindrome.")

racer

TypeError: ignored

In [ ]:
input = list("tenet")
rev_inp = input[::-1]
for i in range(len(input)):
  input.pop(0)
  rev_inp.pop(0)
  if input != rev_inp:
    print("Not Palindrom")
    break
  if len(input)==0:
    print("Palindrom")

Palindrom