#List Comprehension

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
for i in my_list:
  print(i)

[1, 2, 3]
[4, 5]
[6, 7, 8, 9]

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list_copy = [i for i in my_list]
print(list_copy)

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list_copy = [ ]
for i in my_list:
  for x in i:
    list_copy.append(x)
print(list_copy)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list_copy = [x for i in my_list for x in i]
print(list_copy)
#*************************************************************************useful**************************************************

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_ = []
for i in range(0,31):
    if not i % 2 and i % 3:
        list_.append(i)

print(list_)

[2, 4, 8, 10, 14, 16, 20, 22, 26, 28]

In [ ]:
#code example above can be shortened with list comprehension as follows:
x=[i for i in range(0,31) if (not i % 2) and (i % 3)]
print(x)

[2, 4, 8, 10, 14, 16, 20, 22, 26, 28]

In [ ]:
#fibonacci blind code
fiblist = [1,1]
i=0
new=0
for i in range(8):
  new = int(fiblist[-1]) + int(fiblist[-2])
  fiblist.append(new)
  i+=1
print(fiblist)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Function practice - return & default values

In [ ]:
def function_sum_try(a,b,c):
  print("This will be printed")
  return a+b+c
  print("This will NOT be printed")
function_sum_try(5,6,7)

This will be printed

18

In [ ]:
def say_hi(name="Unknown"):  # To set default value
  print("Hi ", name)

say_hi()
say_hi("Koral")

Hi  Unknown
Hi  Koral

#Inheritance

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()
#--------------

class Studenta(Person):
  pass

a = Studenta("se", "ko")
a.printname()
#--------------

class Studentb(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

class Studentc(Person):
  def __init__(self, fname, lname, year, try_1):
    super().__init__(fname, lname)
    self.graduationyear = year
    self.deneme = try_1
    
c = Studentc("Mike", "Olsen", 2019, 55)
print(c.deneme)

John Doe
se ko
55

In [ ]:
# ITARATOR

class MyNumbers:
  def __iter__(self):
    self.a = 2
    return self

  def __next__(self):
    x = self.a
    self.a += 5
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

2
7
12
17
22

In [ ]:
#STOP ITAROTOR
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

#Lesson  7 March 2022 - Instructor: Joseph

ARMSTRONG NUMBER

In [ ]:
while True :   
    number = input("Enter a positive integer number :")
    digits = len(number)
    summ = 0   
    if not number.isdigit() :       
        print(number, " is invalid entry. Please enter valid input.")       
    elif int(number) >= 0 :       
        for i in range(digits) :           
            summ = summ + int(number[i]) ** digits          
        if summ == int(number) :
            print(number, " is an Armstrong Number.")
            break
        else :
            print(number, " is not an Armstrong Number.")
            break

Enter a positive integer number :55
55  is not an Armstrong Number.

PRIME NUMBER

In [ ]:
n = int(input("Enter a positive int number to check if it's a prime number: "))

counter = 0

# if modulus operation in range returns more than 2 (dividion by 1 and division by self) it is not prime.
# using counter as a parameter, calculate how many modulus exists.

for i in range (1, n + 1):
    if n % i == 0:
        counter += 1

if (n ==0) or (n == 1) or (counter >= 3):
    print(n, "is not a prime number.")
else:
    print(n, "is a prime number.")

LIST COMPREHENSION

In [ ]:
sayılar = []
for i in range(6):
  sayılar.append(i)
  print(sayılar)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]

In [ ]:
[i for i in range(6)]   # Kendisinden append'li davranır, her seferinde değişen i değerini içinde bulunduğu listeye (köşeli parantez) ekler

[0, 1, 2, 3, 4, 5]

In [ ]:
if 9 % 3:
  print("this does not work since if 0 will not work")
elif 9%2:
  print("this works since if 1 works")

this works since if 1 works

In [ ]:
print("if_body") if 1==1 else print("else_body")
print("if_body") if 1==0 else print("else_body")

if_body
else_body

In [ ]:
generator = (i for i in range(5))  # this time we used not square paranthesis but normal ones to make it tuple.
print(generator)
print(list(generator))

#print(next(generator))

<generator object <genexpr> at 0x7f124e79ee50>
[0, 1, 2, 3, 4]

#Practice before lesson 08-02-2022

In [ ]:
num = int(input("Enter a number you want to see its factor result : "))
fac_result = 1
len_ = len(str(num))
while len_ < 3:
    for i in range(1,num+1):
        fac_result *= i
    break

print(fac_result)

Enter a number you want to see its factor result : 11
39916800

#frozenset()

In [ ]:
# tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')

fSet = frozenset(vowels)
print('The frozen set is:', fSet)
print('The empty frozen set is:', frozenset())

# frozensets are immutable, so code below won't work;
# fSet.add('v')

The frozen set is: frozenset({'u', 'e', 'o', 'i', 'a'})
The empty frozen set is: frozenset()

In [ ]:
# random dictionary
person = {"name": "John", "age": 23, "sex": "male"}

fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'age', 'name', 'sex'})

#zip()   
Farklı liste yada tuple'lardaki aynı index'e sahip elemanları gruplayarak tuple döndürür.

In [ ]:
a = ("John", "Charles", "Mike")
b = ["Jenny", "Christy", "Monica", "Vicky"]
c = ("xenny", "xhristy", "xonica", "xicky")

x = zip(a, b, c)

#use the tuple() function to display a readable version of the result:
print(tuple(x))

(('John', 'Jenny', 'xenny'), ('Charles', 'Christy', 'xhristy'), ('Mike', 'Monica', 'xonica'))

#filter()
The filter() function extracts elements from an iterable (list, tuple etc.) for which a function returns True.

In [ ]:
# We will print EVEN numbers in the list;
my_list = [1,2,3,4,5,6,7,8,9]
def is_even(number):
  if not number % 2:
    return True
result = list(filter(is_even, my_list))
print(result)

[2, 4, 6, 8]

#enumerate()
Iterable'a counter ekler, counter'ın kaçtan başlayacağını ayarlayabiliriz. Start'a girdi yapmazsak 0 olarak alır.

*   Syntax :   enumerate(iterable, start=0)
*   Liste öğesi

In [ ]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)
# converting to list
print(list(enumerateGrocery))
# changing the default counter
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [ ]:
for item in enumerate(grocery):
  print(item)

print('\n')

for count, item in enumerate(grocery):
  print(count, item)

print('\n')
# changing default start value
for count, item in enumerate(grocery, 100):
  print(count, item)

(0, 'bread')
(1, 'milk')
(2, 'butter')


0 bread
1 milk
2 butter


100 bread
101 milk
102 butter

#map()
returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [ ]:
def addition(n):
    return n+n

numbers = [1,2,3,4,5]
result = map(addition,numbers)
print(list(result))

#Functions  09-03-22

In [ ]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments 
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

In [ ]:
# Useful way to take a user input with a function:

def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [ ]:
# Default value of a parameter:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs

Athens in Europe
Ulaanbaatar in Asia

In [ ]:
# Arbitrary numbers of arguments:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [ ]:
#If you need to prefer to use arbitrary keyword arguments (**kwargs), you can use it in the same way.
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
# Parametre başındaki * işareti, birden fazla parametreyi tek değere atar
# Print'teki * işareti, direkt tuple'ı yazdırmak yerine tüm elemanları teker teker yazdırmayı sağlar
def deneme(*args):
  print(*args)
deneme(1,2,3,4,5,6)

1 2 3 4 5 6

In [ ]:
def deneme(name="Koral", sport="gym"):
    print(f"{name} likes sport, especially {sport}.")
var1 = {"name":"Joseph", "sport":"boxing"}
# var2 = var1.items
# print(**var2)
deneme(**var1)

Joseph likes sport, especially boxing.

#all()

In [ ]:
def add (a,b):
    print(a+b)
add(3,4)

7

In [ ]:
def calc(a,b,c):
  # a, b = int(a), int(b)
  # c = str(c)
  if c == '+':
    print(a+b)
  elif c == '-':
    print(a-b)
  elif c == '*':
    print(a*b)
  elif c == '/':
    print(a/b)
  else:
    print("please enter invalid input")

calc(88,22,'+')

110

In [ ]:
primes = []
def prime_finder(n):
	for i in range(1,n+1):
		bolenler = []
		for j in range(1,i+1):
			if i % j == 0: #tam bölünürse
				bolenler.append(j)
		if len(bolenler)==2:
			primes.append(i)
	print(f"Prime numbers up to {n} : \n {primes}\n")			

prime_finder(100)

Prime numbers up to 100 :
 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
a = list("koral")
print(a[::-1])

['l', 'a', 'r', 'o', 'k']

In [ ]:
matrisx = 3
matrisy = 3

for i in range(matrisx):
	for j in range(matrisy):
		print(f"[{i,j}]", sep="", end=" ")
	print()

[(0, 0)] [(0, 1)] [(0, 2)]
[(1, 0)] [(1, 1)] [(1, 2)]
[(2, 0)] [(2, 1)] [(2, 2)]

In [ ]:
num31 = input("enter a num : ")
num32 = input("enter a num : ")
a = int(min(num31,num32))
b = int(max(num31,num32))
sumlist = [i for i in range(a,b)]
# sum(sumlist,0)
print("sumlist : ", sumlist)
x = sum(sumlist,0)
print("sum : ", x)

enter a num : 10
enter a num : 12
sumlist :  [10, 11]
sum :  21

# Defining a function using Arbitrary numbers

In [ ]:
oddlist = []
evenlist = []
def slicer(*args):
	for i in args:
		if i % 2 :
			oddlist.append(i)
		else:
			evenlist.append(i)
	print("odds: ", oddlist)
	print("evens: ", evenlist)

slicer(1,2,3,4,5,6,7,8,9)